Flask==3.0.3
Werkzeug==3.0.3
opencv-python==4.9.0.80
streamlit==1.36.0
langchain==0.2.6
langchain-community==0.2.6
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.0
seaborn==0.13.2
scikit-learn==1.5.0
faker==26.0.0
langdetect==1.0.9
isort==5.13.2
black==24.4.2
